/* Dietary list */

.uw-site-content .food-item-dietary-list {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.food-item-dietary-list li {
  margin: 0;
  padding: 0 1rem 0 0;
  display: inline;
}

/* Nutrition facts section begins */

.nutrition-facts {
  margin: 1rem 0;
  padding: 0.3rem;
  border: 1px solid black;
  color: black;
  background-color: #fff;
}

.nutrition-facts > table {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}

/* Caption. */
.nutrition-facts > table > caption {
  padding: 0;
  font-style: normal;
  text-align: left;
}
.nutrition-facts > table > caption > h2 {
  margin: 0;
}

/* Borders on all rows. */
.nutrition-facts > table tr {
  border-top: 1px solid black;
}
/* Thick border for thead. */
.nutrition-facts > table > thead {
  border-top: 3px solid black;
  border-bottom: 2px solid black;
}
/* Thick border at start of minerals section. */
.nutrition-facts > table tr.minerals {
  border-top: 3px solid black;
}
.nutrition-facts > table tr.minerals ~ tr.minerals {
  border-top: 1px solid black;
}

/* Indented rows. */
.nutrition-facts > table > tbody > tr.sub > *:first-child {
  padding-left: 1rem;
}
.nutrition-facts > table > tbody > tr.sub.continued {
  border: none;
}

/* General cell formatting. */
.nutrition-facts > table thead > tr > th,
.nutrition-facts > table tbody > tr > th,
.nutrition-facts > table tbody > tr > td {
  font-style: normal;
  font-weight: normal;
  padding: 0.2rem;
  text-align: left;
  border: 0;
  white-space: nowrap;
  vertical-align: middle;
  color: inherit;
  background-color: inherit;
}
/* Return bold to thead. */
.nutrition-facts > table thead > tr > th {
  font-weight: bold;
}

/* Right-align daily values */
.nutrition-facts > table thead th:last-child,
.nutrition-facts > table td:last-child {
  text-align: right;
}
/* If a cell is both first and last, left align. */
.nutrition-facts > table td:first-child {
  text-align: left;
}
